---
# roles/common/tasks/main.yml
- name: Update all packages
  ansible.builtin.dnf:
      name: '*'
      state: latest
      update_only: true
  tags:
      - packages
      - security

- name: Install common packages
  ansible.builtin.dnf:
      name:
          - vim
          - git
          - wget
          - unzip
          - htop
          - net-tools
          - python3
          - python3-pip
      state: present
  tags:
      - packages

- name: Set timezone
  community.general.timezone:
      name: UTC
  tags:
      - system

- name: Configure firewall
  ansible.posix.firewalld:
      service: '{{ item }}'
      permanent: true
      state: enabled
  loop:
      - http
      - https
      - ssh
  when: ansible_os_family == "RedHat"
  tags:
      - firewall
      - security

- name: Start and enable firewalld
  ansible.builtin.systemd:
      name: firewalld
      state: started
      enabled: true
  when: ansible_os_family == "RedHat"
  tags:
      - firewall
      - security
